<div class="root">

    <div class="board">

        <div class="board-wrapper">

            <div class="board-columns" cdkDropListGroup>
                <div class="board-column">

                    <div class="column-title">
                        Ideias
                    </div>

                    <div class="task-container"
                        cdkDropList
                        #todoList="cdkDropList"
                        [cdkDropListData]="ideias"
                        (cdkDropListDropped)="drop($event)">
                        <div class="task" *ngFor="let item of ideias" cdkDrag>
                            {{ item }}
                        </div>    
                    </div>
                </div>

                <div class="board-column">
                    <div class="column-title">
                        To Do
                    </div>

                    <div class="task-container"
                    cdkDropList
                    #todoList="cdkDropList"
                    [cdkDropListData]="todo"
                    (cdkDropListDropped)="drop($event)">
                    <div class="task" *ngFor="let item of todo" cdkDrag>
                        {{ item }}
                    </div>    
                </div>
                </div>

                <div class="board-column">
                    <div class="column-title">
                        Em progresso
                    </div>

                    <div class="task-container"
                    cdkDropList
                    #todoList="cdkDropList"
                    [cdkDropListData]="emProgresso"
                    (cdkDropListDropped)="drop($event)">
                    <div class="task" *ngFor="let item of emProgresso" cdkDrag>
                        {{ item }}
                    </div>    
                </div>
                </div>

                <div class="board-column">
                    <div class="column-title">
                        Feito
                    </div>

                    <div class="task-container"
                    cdkDropList
                    #todoList="cdkDropList"
                    [cdkDropListData]="feito"
                    (cdkDropListDropped)="drop($event)">
                    <div class="task" *ngFor="let item of feito" cdkDrag>
                        {{ item }}
                    </div>    
                </div>
                </div>
            </div>

        </div>

    </div>

</div>